.loginMainBox{

height:100vh;
display: flex;
justify-content: center;
align-items: center;
}
.loginCardBox{

    height: fit-content;
    width: fit-content;
    display: grid;
    place-items: center;
    box-shadow: 1px 1px 4px 2px black;
    padding: 10px;
    border-radius: 10px;
    
    
}


.input-2::placeholder{
    font-weight: 600;
    font-size: medium;
}
.input-2{
    height:50px;
    width:320px;
    font-weight: 600;
    font-size: medium;
     border-radius: 10px;
    border-width: 0px;
    margin: 10px;
     background-color: whitesmoke;
}
.loginHead{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}

button{
    height: 35px;
    width: 90px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#2563EB;
    border-radius: 10px;
    border-width: 0px;

}
button:hover{
     background-color: #1D4ED8;
}
button:active{
    background-color: #1E40AF;
}
.btn-1{
    width: 50px
}
.input-3{
     height:50px;
    width:265px;
    font-weight: 600;
    font-size: medium;
     border-radius: 10px;
    border-width: 0px;
    margin: 10px;
     background-color: whitesmoke;
}
.link-btn{
    color:blue;
    width: 0px;
    text-decoration: underline;
    background-color: white;
}
.link-btn:hover{
    background-color: white;
}